/* variable I can use to easily try/view different colors */
:root {
    --primary: #5bb5f2;
}

/* setting some basic universal assumptions for the page */
* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    background-color: black;
    color: white;
    padding: 15px 25px 15px 0;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
    background-color: var(--primary);
    color: black;
    padding: 0 20px 0 50px;
}

/* the float is what puts the nav and header on the same line */
/* the padding centers the nav info and makes it not so close to the right side of the screen */
.header nav {
    float: right;
    font-size: 27px;
    padding: 15px 30px 0 0;
}

/* takes away the bullet points on the nav bar links */
.header nav ul {
    list-style-type: none;
}

/* all links will not have an underline */
a {
    text-decoration: none;
    color: var(--primary);
}

header a:visited {
    color: var(--primary);
}

/* the margin-left is what creates space between the list items in the nav */
.header nav ul li {
    display: inline-block;
    margin-left: 35px;
    color: lightblue;
    border-bottom: 2px solid var(--primary);
}

/* background ocean image for hero section */
.hero {
    background-image: url("../images/ocean.jpg");
    background-size: cover;
    background-position: center;
    height: 285px;
}

.hero-title {
    background-color: var(--primary);
    position: relative;
    bottom: -200px;
    right: -900px;
    width: 15%;
    padding: 5px 10px;
    color: white;
}

/* extra code required to move headshot in certain spot */
.hero-pic {
    position: relative;
    height: 75%;
    right: -25px;
    top: -25px;
    border: 5px solid var(--primary);
    border-radius: 300px;
}

.content-name {
    margin: 30px 80px;
}

/* container on left that has names of sections */
.box-1 {
    /* width: 24%;
    float: left; */
    font-size: 40px;
}

.box-1 h1 {
    text-align: right;
    padding-right: 25px;
}

/* container on right that has content of sections */
/* the border-left creates the line in between box 1 and 2 */
.box-2 {
    /* display: inline-block; */
    /* width: 75%; */
    border-left: 5px solid var(--primary);
}

.box-2 * {
    padding-left: 30px;
}

/* images for cards being imported as backgrounds */
.project-1 {
    background-image: url("../images/schedule.jpg");
}

.project-2 {
    background-image: url("../images/password.jpg");
}

.project-3 {
    background-image: url("../images/matrix.jpg");
}

.project-4 {
    background-image: url("../images/weather.jpg");
}

.project-5 {
    background-image: url("../images/search.jpg");
}

.project-box {
    display: flex;
    flex-wrap: wrap;
}

/* formatting for the 4 smaller cards */
#project-card {
    background-size: cover;
    background-position: center;
    height: 150px;
    color: white;
    border: 5px solid var(--primary);
    margin: 7px;
    flex: 1 0 40%;
}

/* formatting for the 1 bigger card */
#project-card5 {
    background-size: cover;
    background-position: center;
    height: 300px;
    color: white;
    border: 5px solid var(--primary);
    margin: 7px;
    flex: 1 0 95%;
}

/* text for the smaller cards */
#pc-text {
    background-color: var(--primary);
    color: black;
    position: relative;
    width: 50%;
    padding: 5px 10px;
    bottom: -40%;
    left: -30px;
}

/* text for the bigger card */
#pc-text5 {
    background-color: var(--primary);
    color: black;
    position: relative;
    width: 30%;
    padding: 5px 10px;
    bottom: -60%;
    left: -30px;
}

#contact-links ul {
    list-style-type: none;
    color: black;
    margin: 50px 0;
}

/* simple styling for contact links */
#contact-links ul li {
    display: inline;
    font-size: 35px;
    color: var(--primary);
    text-decoration: none;
}

#contact-links a:visited {
    color: var(--primary);
}

/* creates glow effect for smaller boxes */
#project-card:hover {
    box-shadow: 0px 0px 20px 4px  var(--primary);
}

/* creates glow effect for bigger box */
#project-card5:hover {
    box-shadow: 0px 0px 20px 4px  var(--primary);
}

/* if the screen is less than 1000px, the primary color changes
@media screen and (max-width: 950px) {
    :root {
        --primary: #5bf27c;
    }
    .box-1 {
        font-size: 30px;
    }
    .header h1 {
        font-size: 30px;
    }
    #pc-text {
        width: 100%;
    }
    #pc-text5 {
        width:100%;
    }
}

/* if the screen is less than 600px, the primary color changes
@media screen and (max-width: 600px) {
    :root {
        --primary: #da4fcf;
    }
    .box-1 {
        font-size: 20px;
    }
} */

.box-2 p {
    font-size: 1.75rem;
}